<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
/usr/bin/python2.7 /home/kebe/softWares/pycharm-5.0.3/helpers/profiler/run_profiler.py 127.0.0.1 50812 /home/kebe/workspace/CrazyRobot/pyweb/manage.py runserver 8000
Starting cProfile profiler

Performing system checks...

System check identified no issues (0 silenced).

You have unapplied migrations; your app may not work properly until they are applied.
Run 'python manage.py migrate' to apply them.
January 27, 2016 - 09:24:20
Django version 1.9.1, using settings 'pyweb.settings'
Starting development server at http://127.0.0.1:8000/
Quit the server with CONTROL-C.
Snapshot saved to /home/kebe/.PyCharm50/system/snapshots/pyweb.pstat

Process finished with exit code 0

</body>
</html>